* {
    margin: 0px;
    padding: 0px;
    font-family: "Audiowide", sans-serif;
}

.message {
    
    position: sticky;
    top: 0;left: 0; right: 0;
    padding: 15px 10px;
    background-color: rgb(10, 201, 201);
    text-align: center;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    font-size: 35px;
    text-transform: capitalize;
    cursor: pointer;
}

.container{
    padding: 0 20px !important; 
    margin: 0 auto !important;
    max-width: 1200px !important;
    padding-bottom: 70px !important;
}

.container .user_profile{
    padding: 20px !important;
    text-align: center !important;
    border: var(--border) !important;
    background-color: var(--grey) !important;
    box-shadow: var(--box-shadow) !important;
    border-radius: 5px !important;
    margin:20 auto !important;
    max-width: 500px !important;
}

.container .user_profile p{
    margin-bottom: 15px;
    font-size: 25px;
    color: chartreuse;
}

.container .user_profile p span{
    color:rgb(113, 241, 113)
}

.container .user_profile .flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
}

.container .products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.container .products .box-container .box{
    text-align: center;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    border: var(--border);
    position: relative;
    padding: 20px;
    background-color: var(--white);
}

#images{
    height: 250px;

}

.container .heading{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;
    color: gray;

}

.container .products .box-container .box .price{
    position: absolute;
    top: 10px; left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: orange;
    color: blue;
    font-size: 25px;
}