* {
    margin: 0px;
    padding: 0px;
    font-family: "Audiowide", sans-serif;
}

.message {
    position: sticky;
    top: 0;left: 0; right: 0;
    padding: 15px 10px;
    background-color: azure;
    text-align: center;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}