* {
    margin: 0px;
    padding: 0px;
    font-family: "Audiowide", sans-serif;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-container form {
    width: 500px;
    border-radius: 5px;
    border: var(--border);
    padding: 20px;
    text-align: center;
    background-color: var(--white);
}

.form-container form h3 {
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--black);
}

.form-container form .box {
    width: 100%;
    border-radius: 5px;
    border:var(--border);
    padding: 12px 14px;
    font-size: 18px;
    margin: 10px 0;
}